<!--header-->
<header>
  <div class="container page-header">
    <label class="title">Always save time and money on your mortgage.</label>
    <div class="box-item">
        <div class="row col-md-6 left">
          <div class="row col-md-9">
              Mortgage Club is the first real-time mortgage marketplace where you can easily apply,
              shop, and lock in the best loan in 10 mins.
              Lowest rate guaranteed from over 50 partner
              lenders on our platform.
          </div>
        </div>
        <div class="row col-md-6 col-sm-12 right">
          <label class="title-rate">Today's Best Rates</label>
          <div class="table-responsive">
              <table class="table">
                <thead>
                    <tr>
                      <th>Program</th>
                      <th>Interest Rate</th>
                      <th>Points</th>
                      <th>APR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>30 Year Fixed</td>
                      <td>3.875%</td>
                      <td>0.000%</td>
                      <td>3.925%</td>
                    </tr>
                    <tr>
                      <td>15 Year Fixed</td>
                      <td>3.250%</td>
                      <td>0.000%</td>
                      <td>3.356%</td>
                    </tr>
                    <tr>
                      <td>7/1 LIBOR ARM</td>
                      <td>3.125%</td>
                      <td>0.000%</td>
                      <td>3.115%</td>
                    </tr>
                    <tr>
                      <td>5/1 LIBOR ARM</td>
                      <td>3.250%</td>
                      <td>0.000%</td>
                      <td>3.525%</td>
                    </tr>
                </tbody>
              </table>
          </div>
        </div>
        <div class="col-md-12">
          <button class="btn btn-apply col-xs-offset-3">APPLY NOW</button>
        </div>
    </div>
  </div>
</header>

<!--banner-->
<div class="container header-banner">
  <div class="row">
    <div class="header-banner-bg"></div>
  </div>
</div>

<div class="container">
    <div class="col-lg-12 text-center">
      <h3><label>WHY US?</label></h3>
    </div>
</div>


<div class="container box-banner-item">
    <div class="col-md-15 col-sm-6 col-xs-12">
      <div class="row">
        <div class="col-xs-3">
          <img src="/assets/icons/banner1.png" width="50" height="50">
        </div>
        <div class="col-xs-9 text-left text-title">
          Lowest rate guaranteed
        </div>
      </div>
      We guarantee our rate is the lowest one for your mortgage scenario or we’ll send you a $200 gift card.
    </div>

    <div class="col-md-15 col-sm-6 col-xs-12">
      <div class="row">
        <div class="col-xs-3">
          <img src="/assets/icons/banner2.png" width="50" height="50">
        </div>
        <div class="col-xs-9 text-left text-title">
          Save time
        </div>
      </div>
      By leveraging our technology, you can complete the loan application online in 10 mins and close your loan in 15 days.
    </div>

    <div class="col-md-15 col-sm-6 col-xs-12">
      <div class="row">
        <div class="col-xs-3">
          <img src="/assets/icons/banner3.png" width="50" height="50">
        </div>
        <div class="col-xs-9 text-left text-title">
          Transparent
        </div>
      </div>
      We provide an application dashboard so you can see what’s going on behind the scenes in real-time.
    </div>

    <div class="col-md-15 col-sm-6 col-xs-12">
      <div class="row">
        <div class="col-xs-3">
          <img src="/assets/icons/banner4.png" width="50" height="50">
        </div>
        <div class="col-xs-9 text-left text-title">
          Personal advice
        </div>
      </div>
      Your Relationship Manager  is compensated by salary and bonus based on customer satisfaction to remove commission bias.
    </div>

    <div class="col-md-15 col-sm-6 col-xs-12">
      <div class="row">
        <div class="col-xs-3">
          <img src="/assets/icons/banner5.png" width="50" height="50">
        </div>
        <div class="col-xs-9 text-left text-title">
          100% secured
        </div>
      </div>
      You can be assured that we employ the highest level of security to protect your private information.
    </div>
</div>